<a href="https://colab.research.google.com/github/halfbug/colab/blob/main/100rowsfilled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [9]:
sheet_id = '1M8mauGQDZVbXpwQPAlfrKc2suVqtdB5k'
sheet_name = "LevelGuide"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df=pd.read_csv(url)
# https://docs.google.com/spreadsheets/d/1M8mauGQDZVbXpwQPAlfrKc2suVqtdB5k/edit#gid=816935593

In [10]:
print(df)

                                                  join  Hemster ID  \
0       55718 194900722053 30F1GCDS2L 001 Michael Kors       55718
1      55740 196163322728 30S2G9HM6L 1999 Michael Kors       55740
2    55760 196163134963 30S2SCDT3L chambray Michael...       55760
3          55770 193144528056 MM7W775 110 Michael Kors       55770
4    55858 196163135120 30S2SGRL8L CHAMBRAY Michael...       55858
..                                                 ...         ...
134     55653 196108954069 43T2OLFS1D 005 Michael Kors       55653
135     55629 196237053305 MU2814R5PT 100 Michael Kors       55629
136    55625 196163150185 MS2206R50R 3110 Michael Kors       55625
137     55640 196237063922 MU2817O33D 001 Michael Kors       55640
138     55631 723088612322 77Q5928M42 110 Michael Kors       55631

           MK SKU          Description Grade         Garment Type  \
0    194900722053       30F1GCDS2L 001     a                 Bags
1    196163322728      30S2G9HM6L 1999     a                 Bags
2    196163134963  30S2SCDT3L chambray     a                 Bags
3    193144528056          MM7W775 110     a              Scarves
4    196163135120  30S2SGRL8L CHAMBRAY     a                 Bags
..            ...                  ...   ...                  ...
134  196108954069       43T2OLFS1D 005     a                Shoes
135  196237053305       MU2814R5PT 100     a       Sleeveless Top
136  196163150185      MS2206R50R 3110     a            Outerwear
137  196237063922       MU2817O33D 001     a  Basic Sleeved Dress
138  723088612322       77Q5928M42 110     a            Outerwear

    Category Type     MSRP  brand   image  Sold on amazon  color  \
0       Accessory  $200.00     NaN    NaN             NaN    NaN
1       Accessory  $138.00     NaN    NaN             NaN    NaN
2       Accessory  $150.00     NaN    NaN             NaN    NaN
3       Accessory  $100.00     NaN    NaN             NaN    NaN
4       Accessory  $250.00     NaN    NaN             NaN    NaN
..            ...      ...     ...    ...             ...    ...
134      Footwear  $110.00     NaN    NaN             NaN    NaN
135       Apparel  $150.00     NaN    NaN             NaN    NaN
136       Apparel  $595.00     NaN    NaN             NaN    NaN
137       Apparel  $260.00     NaN    NaN             NaN    NaN
138       Apparel  $220.00     NaN    NaN             NaN    NaN

     Amazon price  ASIN  UPC
0             NaN   NaN  NaN
1             NaN   NaN  NaN
2             NaN   NaN  NaN
3             NaN   NaN  NaN
4             NaN   NaN  NaN
..            ...   ...  ...
134           NaN   NaN  NaN
135           NaN   NaN  NaN
136           NaN   NaN  NaN
137           NaN   NaN  NaN
138           NaN   NaN  NaN

[139 rows x 15 columns]

In [33]:
class ExcelProcessor:
    def __init__(self, file_path=None, sheet_id=None, sheet_name="Excel file"):
        # Example usage for opening a Google Sheet:
        # sheet_id = '1M8mauGQDZVbXpwQPAlfrKc2suVqtdB5k'
        # sheet_name = "LevelGuide"
        # processor = ExcelProcessor(sheet_id=sheet_id, sheet_name=sheet_name)
        if file_path:
            self.df = pd.read_excel(file_path)
        elif sheet_id and sheet_name:
            url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
            self.df = pd.read_csv(url)
        else:
            raise ValueError("Either provide a file path or Google Sheet ID and sheet name.")

    def get_empty_columns_names(self):
        empty_columns = self.df.columns[self.df.isnull().any()].tolist()
        return empty_columns

    def get_filled_columns_names(self):
        filled_columns = self.df.columns[self.df.notnull().any()].tolist()
        return filled_columns

    def list_columns_with_values(self,num_columns=None):
        non_empty_columns = self.df.columns[self.df.notnull().any()].tolist()
        filtered_df = self.df[non_empty_columns]
        if num_columns:
            return filtered_df.values[:, :num_columns].tolist()
        else:
            return filtered_df.values.tolist()
        return columns_with_values

    def get_all_rows(self):
        return self.df.values.tolist()

    def get_all_rows_values(self):
        non_empty_columns = self.df.columns[self.df.notnull().any()].tolist()
        filtered_df = self.df[non_empty_columns]
        return filtered_df.values.tolist()

    def get_total_rows_columns(self):
        total_rows, total_columns = self.df.shape
        return total_rows, total_columns
        # Example usage to get total rows and columns in the sheet
        # total_rows, total_columns = processor.get_total_rows_columns()
        # print("Total rows:", total_rows)
        # print("Total columns:", total_columns)

In [37]:
sheet_id = '1M8mauGQDZVbXpwQPAlfrKc2suVqtdB5k'
sheet_name = "LevelGuide"
processor = ExcelProcessor(sheet_id=sheet_id, sheet_name=sheet_name)

print("Empty columns:", processor.get_empty_columns_names())

print("Columns with values:", processor.get_filled_columns_names()[ :3])

print("All rows of the sheet:")
all_rows = processor.get_all_rows_values()
for row in all_rows:
    # print(row)
    row_str = ", ".join(map(str, row))
    # print(row_str)

# Example usage to get total rows and columns in the sheet
total_rows, total_columns = processor.get_total_rows_columns()
print("Total rows:", total_rows)
print("Total columns:", total_columns)

Empty columns: ['brand ', 'image', 'Sold on amazon', 'color', 'Amazon price', 'ASIN', 'UPC']
Columns with values: ['join', 'Hemster ID', 'MK SKU']
All rows of the sheet:
Total rows: 139
Total columns: 15

In [11]:
# Check for columns with empty values
empty_columns = df.columns[df.isnull().any()].tolist()
empty_columns

['brand ', 'image', 'Sold on amazon', 'color', 'Amazon price', 'ASIN', 'UPC']